* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*clearfix*/
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.float-left{    
    float: left;
}

.float-right{
    float: right;
}

/*fredoka a tutto e tutti*/
body{
    font-family: 'Fredoka', sans-serif;
}

header{
    text-align: center;
    margin-top: 25px;
}

.title{
    font-size: 45px;
}

h1{
    color: rgb(224, 88, 195);
}

main{
    padding-top: 35px;
    text-align: center;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

/*Profili*/

.profile{
    margin: 0 20px 40px 20px;
    height: 125px;
    background-color: black;
    width: calc(100% /3 - 45px);
}

.profile-photo{
    margin-right: 12px;
    height: 100%;
}

.profile-info{
    padding: 12px;
}

p{
    margin-bottom: 30px;
}

